:root {
  --title-font: "Gloria Hallelujah", cursive;
  --text-font: "Noto Sans Gujarati", sans-serif;
  --pink-color: #F0CCF3
}
body{font-family: var(--text-font);}
.title{font-family: var(--title-font);}
header{
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
url("../images/pink-sky.jpg") ;
background-size:cover;
background-repeat: no repeat;
height: 700px;
text-align: center;
color:white;
padding: 100px 0px;
}  

header h1{font-size: 120px;
margin-bottom: 0px;
color: var(--pink-color);}
header h2{font-size: 30px;
font-style: italic;
margin-top: 0px;
margin-bottom: 60px;}
header a{font-family: var(--title-font);
  font-size: 20px;
  color: var(--pink-color);
  letter-spacing: 6px;
  text-decoration:none;
  transition: all 300ms ease-in-out;
}
header a:hover{font-size: 30px;}
header .portre{max-width:100px;
border-radius: 100%;
margin-bottom:-100px;
border: 1px solid var(--pink-color);}