:root {
  --title-font: "Gloria Hallelujah", cursive;
  --text-font: "Noto Sans Gujarati", sans-serif;
  --pink-color: #F0CCF3;
  --link-color:#226DB5;
  --dark-pink-color:#CC3AD9;
}

body{font-family: var(--text-font);}
.title{font-family: var(--title-font);}

header{
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
url("../images/pink-sky.jpg") ;
background-size:cover;
background-repeat: no repeat;
height: 700px;
text-align: center;
color:white;
padding: 100px 0px;
}  

header h1{font-size: 120px;
margin-bottom: 0px;
color: var(--pink-color);}
header h2{font-size: 30px;
font-style: italic;
margin-top: 0px;
margin-bottom: 60px;}
header a{font-family: var(--title-font);
  font-size: 25px;
  color: var(--pink-color);
  letter-spacing: 6px;
  text-decoration:none;
  transition: all 300ms ease-in-out;
}
header a:hover{font-size: 30px;}
header .portre{max-width:100px;
border-radius: 100%;
margin-bottom:-100px;
border: 1px solid var(--pink-color);}

.grid{display:grid;
}

.section-1 {border:solid 3px var(--pink-color);
width:80%;
margin:60px auto;
border-radius: 10%;}

.biography{grid-template-columns: 1fr 1fr;
width:90%;
grid-gap:40px;
margin:60px auto;
background-color: var(--pink-color);
padding:30px;
border-radius:10%}
.biography img{width:100%;
border-radius:10%}
.biography .title{font-size:40px;
text-align:center}
.biography p{text-align: justify;
line-height: 40px;
font-size: 20px;}

.section-1 .learn-more{text-align: center;
margin-bottom:20px;
font-family:var(--title-font);
font-size: 20px;
letter-spacing:6px}
.section-1 .learn-more a{text-decoration: none;
color:var(--link-color)}

.j-o-p {text-align: center;
margin:60px auto;
max-width:90%;}
.j-o-p .title{font-size:40px;
border-bottom:7px solid var(--pink-color);
max-width:400px;
margin:60px auto;}
.j-o-p p{line-height: 40px;
  font-size: 20px;
max-width: 70%;
margin:60px auto;}
.j-o-p .look{font-family:var(--title-font);
  font-size: 20px;
  letter-spacing:6px;
color: var(--dark-pink-color);
margin-bottom: 30px;
margin-top: -10px;
}
 
.j-o-p .first-row{
  grid-template-columns: 1fr 1fr;
  margin-bottom:10px;
}
.j-o-p .second-row{grid-template-columns: 1fr 1fr 1fr;
 }
.j-o-p .first-row, .second-row{grid-gap: 10px;}

.j-o-p .video{width: 100%;
aspect-ratio: 4/3;
border-radius: 10%;
}

.j-o-p .videos{background-color: var(--pink-color);
padding:20px;
border-radius:15px}

.fun-facts{text-align: center;
margin:0px 0px;
border:solid 3px black;
border-radius: 10%;
width:80%;
margin:60px auto;}

.fun-facts .section-2{
  margin:0px auto;
  width:90%;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap:20px;
  grid-column-gap:30px;

}
.fun-facts .title{font-size:40px;
  border-bottom:7px solid var(--pink-color);
  max-width:400px;
  margin:60px auto;
 }
.fun-facts .fact{
  display:flex;
  font-size: 22px;
  line-height: 25px;
  background-color: var(--pink-color);
  border-radius: 15px;
  align-items: center;
  padding:10px 10px
}
.fun-facts .text{
  text-align: justify;
  line-height: 25px;
  letter-spacing: 1px;
  border:2px solid var(--pink-color);
  padding:10px 10px;
  border-top: none;
}
.fun-facts .more-facts{margin:60px 20px 40px 20px;
  font-family:var(--title-font);
  font-size: 20px;
  letter-spacing:6px}

  .fun-facts .more-facts a{text-decoration: none;
    color:var(--link-color)}

.gallery{
  text-align: center;
  margin:0px auto;
  width:90%;
  margin:60px auto;
  background-color: var(--pink-color);
  padding:30px;
  border-radius:10%}

.gallery .title{font-size:40px;
  max-width:400px;
  margin:20px auto;
  text-align:center}
.gallery .paintings{
  grid-template-columns: repeat(5, 1fr);
  grid-gap:5px;  
}
.gallery .painting{width:100%;border-radius: 10px;}
.gallery .painting:hover{scale: 2.5;
cursor:pointer;
border:1px solid black}

.w-o-w {text-align: center;
  margin:60px auto;
  max-width:90%;}
  .w-o-w .title{font-size:40px;
  border-bottom:7px solid var(--pink-color);
  max-width:600px;
  margin:60px auto;}
  .w-o-w p{line-height: 40px;
    font-size: 20px;
  max-width: 80%;
  margin:60px auto;}
.w-o-w .colors{color: var(--dark-pink-color);font-size:25px;
  max-width:600px;
  margin:30px auto;}
  .w-o-w .link{margin:60px 20px 40px 20px;
    font-family:var(--title-font);
    font-size: 20px;
    letter-spacing:6px}
  
.w-o-w a{text-decoration: none;
  color:var(--link-color)}

.titanium{background-color: #ffffff; border:1px solid black}
.black{background-color: #000000;}
.alizarin{background-color: #4e1500;}
.van{background-color: #221b15;}
.cadmium{background-color: #ffec00;}
.yellow{background-color: #c79b00;}
.phthalo{background-color: #0c0040;}
.bright{background-color: #db0000}
.sap{background-color: #0a3410;}
.indian{background-color: #ffb800;}

table{border:7px solid var(--pink-color);
padding:3px 3px;
border-radius: 10%;}
th{ border:1px solid black; padding:3px 3px;
border-radius:10%}
td{height:30px; border-radius: 10%; padding:3px 3px;}

.table-container{overflow-x: auto;}

footer{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../images/blue-river.jpeg") ;
  background-size:cover;
  background-repeat: no repeat;
  text-align: center;
  color:white;
  padding: 100px 0px;
  } 
  .last-section{grid-template-columns: 1.5fr 1fr 1fr;
  height:110%;
  width: 85%;
text-align: justify;
margin:0px auto;
padding:20px;
grid-gap:30px;
line-height: 30px;
border:3px solid var(--pink-color);
border-radius:10px;
margin-top:-30px
} 
.last-section .title{text-align: center;
font-size: 25px;}
.last-section a{text-decoration: none;
color: var(--pink-color);
font-family: var(--title-font);
letter-spacing: 10px;}

.last-section .gif{width:100%;height:0}

@media(max-width:1053px){.last-section .column{display:flex;
  justify-content: center;
align-items:center}
.last-section .about-me p{
  margin-top:45px
}}
@media(max-width:900px){
  .section-1{width:100%}
  .fun-facts{width:100%}
  header{height:550px}
  header h1{font-size: 90px;}
  .j-o-p {
  
    max-width:100%;}
}
@media(max-width: 800px){
  .j-o-p {
    max-width:100%;}
}
@media(max-width: 700px){
  .last-video{display:none}
  .j-o-p .second-row{grid-template-columns: 1fr 1fr;
  }
  .section-1 .learn-more, .fun-facts .more-facts,   .w-o-w .link{
    font-size: 18px;
    letter-spacing: 4px;
  }
  .last-section{grid-template-columns: 1fr;}
  .column{width:50%;
  text-align: center;}
}
@media(max-width: 600px){
.biography,  .fun-facts .section-2 {grid-template-columns: 1fr;}
.biography{width:auto}
.fun-facts .text{display:none}
header{height:400px}
header h1{font-size: 60px;}
header h2{ font-size:24px;
padding:20px;
margin-bottom:20px}
header .portre{margin-bottom:-50px}
.biography img{width:60px; margin-bottom:-30px}
.col-1{text-align:center}
.biography .title, .j-o-p .title, .fun-facts .title, .gallery .title,  .w-o-w .title{font-size:35px;
margin:30px auto}
 .biography p, .j-o-p p, .fun-facts .text, .w-o-w p{font-size: 18px;}
.w-o-w .title{max-width:400px}
.j-o-p .title {max-width:300px}
.fun-facts .title{max-width:220px}
.gallery .paintings{
  grid-template-columns: repeat(4, 1fr)}
  .gallery .painting:hover{scale: 2.7;}
body{margin:0px 0px;
  padding:0px 0px;
overflow: hidden;}}


@media(max-width:500px){
  .j-o-p .first-row, .j-o-p .second-row{grid-template-columns: 1fr;
}
.second-last-video{display:none}
.gallery .paintings{
  grid-template-columns: repeat(2, 1fr)}
  .twenty, .nineteen, .delete, header a{display:none}
  header{width:100%}
  header background-image{display:block;
    width:100%}
    .section-1{border:none}
    .w-o-w .title{width:300px}
    .gallery .painting:hover{scale: 2;}}